.verification {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  max-width: 520px;
  min-height: 60px;
  backdrop-filter: blur(20px);
  border: 1px solid var(--separator);
  border-radius: 12px;
  font-size: 1.2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

.verifying-dots-one {
  animation: verify 2s infinite linear;
}
.verifying-dots-two {
  animation: verify 2s infinite linear 0.2s;
}
.verifying-dots-three {
  animation: verify 2s infinite linear 0.4s;
}

@keyframes verify {
  0% {
    opacity: 1;
  } 50% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}